<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/default">

<th:block layout:fragment="content">
    <div class="container-fluid pt-3 pb-3">
        <section class="row flex-xl-nowrap">
            <div id="nav-l" class="d-none d-xl-block col-xl-2 bd-toc"></div>
            <div class="card shadow-table mb-4 container-fluid">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>UID</th>
                                <th>ID</th>
                                <th>이름</th>
                                <th>가입일</th>
                                <th>이메일</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="member : ${members}" class="table-point">
                                <td th:text="${member.id}"></td>
                                <td th:text="${member.loginId}"></td>
                                <td th:text="${member.name}"></td>
                                <td th:text="${#temporals.format(member.register_date, 'yyyy-MM-dd')}"></td>
                                <td th:text="${member.email}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</th:block>
<th:block layout:fragment="js">
    <link href="/js/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="/js/vendor/jquery/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"></script>
    <script src="/js/demo/manage/members.js"></script>
</th:block>
</html>