<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">

<th:block layout:fragment="content">
    <div class="card shadow-table mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>도서명</th>
                        <th>저자</th>
                        <th>출판사</th>
                        <th>대여자</th>
                        <th>대여일</th>
                        <th>상태</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>도서명</th>
                        <th>저자</th>
                        <th>출판사</th>
                        <th>대여자</th>
                        <th>대여일</th>
                        <th>상태</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each="borrow : ${borrowList}">
                        <td th:text="${borrow.book.title}"></td>
                        <td th:text="${borrow.book.author}"></td>
                        <td th:text="${borrow.book.publisher}"></td>
                        <td th:text="${borrow.member.name}"></td>
                        <td th:text="${borrow.date}"></td>
                        <td th:if="${#strings.equals(borrow.status,'APPLY')}" >
                            <span class="minty-badge minty-bg-apply">신청중</span></td>
                        <td th:if="${#strings.equals(borrow.status,'PROGRESS')}" >
                            <span class="minty-badge minty-bg-danger">대여중</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="js">
    <link href="/js/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <script src="/js/vendor/jquery/jquery.min.js"></script>
    <script src="/js/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/js/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="/js/book/borrow.js"></script>
    <script src="/js/bookmng.js"></script>
</th:block>
</html>