<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<th:block layout:fragment="content">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body justify-content-center">
            <!-- Nested Row within Card Body -->
            <div class="col-lg-7 w-100  p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">회원가입</h1>
                </div>
                <section>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="InputId" placeholder="아이디">
                    </div>
                    <div class="form-group inner-row">
                        <div class="col-sm-6 mb-3 mb-sm-0 p-0 inner-2nd-row">
                            <input type="password" class="form-control form-control-user" id="InputPassword" placeholder="비밀번호">
                        </div>
                        <div class="col-sm-6 p-0 inner-2nd-row">
                            <input type="password" class="form-control form-control-user" id="RepeatPassword" placeholder="비밀번호 확인">
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" id="Name" placeholder="이름">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control form-control-user" id="InputEmail" placeholder="이메일" required >
                    </div>

                    <button id="signup" type="submit" class="btn btn-info btn-user btn-block">
                        회원가입하기
                    </button>
                </section>
                <hr>
                <div class="text-center">
                    <a class="small" href="forgot-password.html">비밀번호를 잃어버렸나요?</a>
                </div>
                <div class="text-center">
                    <a class="small" href="/login">이미 계정이 있습니다. 로그인으로</a>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="js">
    <script src="/js/member/signup.js"></script>
</th:block>
</html>