<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/default">

<th:block layout:fragment="content">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2>도서관리 목록</h2>
        <p class="lead" th:text="${#calendars.format(#calendars.createNow(), 'yyyy년 MM월 dd일 현황')}"></p>
        <p class="mb-0">[대여] 대여 신청 및 승인 후 가능 </p>
        <p>[반납] (관리자 전용) 문의 바랍니다.</p>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>도서명</th>
            <th>저자</th>
            <th>출판사</th>
            <th class="w-10">대여자</th>
            <th class="w-10">상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}" class="table-hover table-point">
            <input type="hidden" th:value="${book.id}">
            <td id="title" name="title" th:text="${book.title}"></td>
            <td id="author" th:text="${book.author}"></td>
            <td id="publisher" th:text="${book.publisher}"></td>
            <td th:text="${book.borrow?.member}? ${book.borrow.member.name} : ''"></td>
            <td th:if="${#strings.equals(book.borrow?.status,'APPLY')}" >
                <span class="minty-badge minty-bg-apply" id="B_APPLY">신청중</span></td>
            <td th:if="${#strings.equals(book.borrow?.status,'PROGRESS')}" >
                <span class="minty-badge minty-bg-danger" id="B_PROGRESS">대여중</span></td>
            <td th:if="${#strings.isEmpty(book.borrow?.status)}"></td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center" th:with="start=${(books.number/10)*10+1},
            end= (${books.totalPages} == 0) ? 1 : (( ${books.totalPages} > ${start}+(10-1)) ? ${start}+(10-1) : ${books.totalPages})">
            <li class="page-item" th:classappend="${!books.hasPrevious} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${books.number-1}|}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li th:each="pageNum : ${#numbers.sequence(start,end)}"
                th:classappend=" ( (${pageNum} == ${books.number+1}) or (${start} == ${end}) ) ? 'active'"
                class="page-item">
                <a th:href="@{|?page=${pageNum-1}|}" th:text="${pageNum}" class="page-link"></a>
            </li>
            <li class="page-item" th:classappend="${!books.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${books.number+1}|}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</th:block>
<th:block layout:fragment="js">
    <script src="/js/demo/books.js"></script>
</th:block>
</html>