<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/default">
<th:block layout:fragment="content">
  <div class="container card o-hidden border-0 shadow-lg my-5">
    <div class="p-5 justify-content-center">
      <div class="card-body">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>no</th>
            <th>파일명</th>
            <th>작성일</th>
            <th>작성자</th>
            <th class="w-10">첨부파일</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="file, idx : ${fileList}">
            <td th:text="${idx.index}"></td>
            <td th:text="${file.fileName}"></td>
            <td th:text="${file.createdAt}"></td>
            <td th:text="${file.creator}"></td>
            <td>
              <a th:href='@{/file/download/{fileName}(fileName=${file.fileId})}'><i class="fa-solid fa-file-export" style="color: #2076c5;"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</th:block>
<th:block layout:fragment="js">
  <script src="https://use.fontawesome.com/releases/v6.4.2/js/all.js"></script>
<!--  <script src="js/common/login.js"></script>-->
</th:block>
</html>