<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="fragments/default">
<th:block layout:fragment="content">
    <div class="container card o-hidden border-0 shadow-lg my-5">
        <div class="p-5 justify-content-center">
            <div class="card-body col-lg-5">
                <div class="w-100">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">로그인</h1>
                    </div>
                    <div class="user">
                        <div class="form-group">
                        <input type="id" class="form-control form-control-user" id="exampleInputId" name="loginId"
                                   aria-describedby="idHelp" placeholder="아이디">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="exampleInputPassword" name="loginPassword"
                                   placeholder="비밀번호">
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                <label class="custom-control-label" for="customCheck">Remember
                                    Me</label>
                                <a class="" style="float: right;margin-right: 5px;" href="/join">회원가입하기</a>
                            </div>
                        </div>
                        <button id="login" type="submit" class="btn btn-info btn-user btn-block">로그인</button>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a class="small" id="forget-pw" href="#">비밀번호를 잃어버렸나요?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="js">
    <script src="js/common/login.js"></script>
</th:block>
</html>